body{
    background-image: url(../public/bg-image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
@media screen and (orientation:portrait) {
    .row{
        display: grid;
        grid-template-columns: 12fr;
    }
   .col{
    margin-top: 10px;
   }
   button{
    margin-top: 10px;
   }
}